[Desktop Entry]
Version=1.0
Name=BITCORN Core
Comment=BITCORN P2P Cryptocurrency
Comment[fr]=BITCORN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BITCORN, eşten eşe kriptografik sanal para birimi
Exec=bitcorn-qt %u
Terminal=false
Type=Application
Icon=bitcorn128
MimeType=x-scheme-handler/bitcorn;
Categories=Office;Finance;
StartupWMClass=Bitcorn-qt
